.smart-context-settings-tab {
  .setting-item-control textarea {
    width: 100%;
  }

  .setting-item-description code {
    cursor: text;
    user-select: all;
  }
  
  @media (min-width: 720px) {
    .setting-item-info:has(+ .setting-item-control:not(:empty)) {
      max-width: 50%;
    }
  }
}

/* hide custom inputs unles custom selected */
.setting-group:has(.template-preset option[value='custom']:not(:checked)) {
  .setting-item.context-explanation,
  .setting-item.item-explanation,
  .setting-item.template-before,
  .setting-item.template-after {
    display: none;
  }
}