.smart-context-settings-tab {
  .setting-item-control textarea {
    width: 100%;
  }
  
  @media (min-width: 720px) {
    .setting-item-info:has(+ .setting-item-control:not(:empty)) {
      max-width: 50%;
    }
  }
}