.sc-context-tree ul {
  list-style: none;
  margin: 0 0 0 .8em;
  padding: 0;
}
.sc-context-tree .sc-tree-item {
  gap: 4px;
  padding: 2px 0;
  overflow: auto;
}

.sc-context-tree .sc-tree-item.expandable > .sc-tree-label::before {
  content: '▾';
  display: inline-block;
  width: 1em;
  margin-right: 2px;
  cursor: pointer;
}

.sc-context-tree .sc-tree-item.collapsed > .sc-tree-label::before {
  content: '▸';
}

.sc-context-tree .sc-tree-item.collapsed > ul {
  display: none;
}

.sc-context-tree .sc-tree-item.dir > span {
  opacity: 0.8;
}
.sc-context-tree .sc-tree-item.dir > span::after {
  content: '/';
}
.sc-context-tree .sc-tree-label {
  cursor: pointer;
}
.sc-context-tree .sc-tree-remove,
.sc-context-tree .sc-tree-connections,
.sc-context-tree .sc-tree-links {
  cursor: pointer;
  opacity: .8;
}
.sc-context-tree .sc-tree-remove:hover,
.sc-context-tree .sc-tree-connections:hover,
.sc-context-tree .sc-tree-links:hover {
  opacity: 1;
}

.sc-tree-remove, 
.sc-tree-connections, 
.sc-tree-links {
  display: inline-flex;
  width: 20px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.sc-tree-remove:hover,
.sc-tree-connections:hover,
.sc-tree-links:hover {
  border-color: var(--interactive-accent);
}


/* * Hover state for tree elements that should change text/icon color.
 * This includes the label and the connection/link icons.
 */
.sc-tree-label:hover,
.sc-tree-connections:hover,
.sc-tree-links:hover {
  color: var(--text-accent);
}

.smart-block-popover {
  z-index: 999999;
}